<div class="col-sm-12">
  <h4 class="tn-heading"><a class="hand" (click)="goToHome()"> Batch Changes</a><span> Batch Change Request</span></h4>
  <h6 class="tn-sub-heading"><span>Submitted by xyz on xyz </span> | <span> Effective since XYZ</span></h6>

</div>
<div class="col-sm-12">
  <div class="tn-table request-batch-change-table">
    <div class="tn-table-head">
      <h6>
        <span class="default-margin-left">Employee Name</span></h6>
      <h6>Position</h6>
      <h6>Direct Manager</h6>
      <h6>
        Department Changes
      </h6>
      <h6>Location Change</h6>
    </div>
    <div class="tn-table-body">
      <div class="tn-table-row">
        <h6></h6>
        <h6></h6>
        <h6></h6>
        <h6></h6>
        <h6></h6>

      </div>
    </div>
  </div>
</div>
