<div class="col-sm-12">
  <h4 class="tn-heading"><a (click)="goToHome()"> Batch Changes</a><span> </span>Create New Batch Changes Request</h4>
</div>

<div class="col-sm-12">
  <div class="tn-table">
    <div class="tn-table-head">
      <h6>Status</h6>
      <h6>Change Type</h6>
      <h6>Effective Date</h6>
      <h6>Number Of Employees</h6>
      <h6>Submitted On</h6>
      <h6>Submitted By</h6>
    </div>
    <div class="tn-table-body">
      <div class="tn-table-row">
        <h6></h6>
        <h6></h6>
        <h6></h6>
        <h6></h6>
        <h6></h6>
        <h6></h6>
      </div>
    </div>
  </div>
</div>
