

<div class="modal-dialog batchChange-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-center">Options for New Batch Changes</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="batchChange(staticModal)" #f="ngForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="effectiveDate">Effective Date</label>
          <div class="input-group col-sm-6 tn-input-calender">
            <span class="input-group-addon hand"><i class="icon-icon_calendar"></i></span>
            <input id="effectiveDate" type="text" class="form-control" placeholder="05/06/2017">
          </div>
        </div>
        <div class="form-group tn-checkBox">
          <!--[(ngModel)]="batch.department"-->
          <input id="deptChange" type="checkbox"
                 [(ngModel)]="department"
                 name="department"
          />

          <label for="deptChange">
            <div>
              <h5>Department Change</h5>
              <h6>making group change to employees department</h6>
            </div>
          </label>
        </div>
        <div class="form-group tn-checkBox">
          <!-- [(ngModel)]="batch.location"-->
          <input id="locChange" type="checkbox" [(ngModel)]="location" name="location"/>
          <label for="locChange">
            <div>
              <h5>Location Change</h5>
              <h6>making group change to employees Location</h6>
            </div>
          </label>
        </div>
        <!--<div class="form-group tn-checkBox">
          <input id="leavePlaneChange" type="checkbox" [(ngModel)]="leavePlane" name="leavePlane"/>
          <label for="leavePlaneChange">
            <div>
              <h5>Leave Plan Change</h5>
              <h6>making group change to employees Leave Plans including <br> Vacation, PTO , Sick leaves</h6>
            </div>
          </label>
        </div>-->
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button class="tn-button tn-cancel-button" (click)="staticModal.hide()">cancel</button>
        <button class="tn-button tn-action-button" type="submit" [disabled]="!(department || location)">confirm</button>
      </div>
    </form>
  </div>
</div>
