<div class="col-sm-12">
  <div class="tn-table">
    <div class="tn-table-head">
      <h6>Status</h6>
      <h6>Change Type</h6>
      <h6>Effective Date</h6>
      <h6>Number Of Employees</h6>
      <h6>Submitted On</h6>
      <h6>Submitted By</h6>
    </div>
    <div class="tn-table-body">
      <div class="tn-table-row hand" *ngFor="let batchData of batchData ; let i = index" (click)="viewChangeDetails(batchData)">
        <h6>{{batchData.status}}</h6>
        <h6 [innerHTML]="batchData.change"></h6>
        <h6>{{batchData.effectiveDate}}</h6>
        <h6>{{batchData.employeeCount}}</h6>
        <h6>{{batchData.submittedOn}}</h6>
        <h6>{{batchData.submittedBy}}</h6>
      </div>
    </div>
  </div>
</div>
