/*fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import "assets/styles/_icons.scss";
@font-face {
  font-family: 'icomoon';
  src:  url('../src/assets/fonts/icomoon.eot?jolw1z');
  src:  url('../src/assets/fonts/icomoon.eot?jolw1z#iefix') format('embedded-opentype'),
  url('../src/assets/fonts/icomoon.ttf?jolw1z') format('truetype'),
  url('../src/assets/fonts/icomoon.woff?jolw1z') format('woff'),
  url('../src/assets/fonts/icomoon.svg?jolw1z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*defined colors*/
$tn-black   : #000;
$light-gray : #f5f5f5;
$tn-blue    : #0073CF;
$pewter     : #6e778a;
$silver     : #b3bdc7;
$red        : #f32b46;
$tn-white   : #fff;
$cloudy     : #dde1e6;
$misty      : #eef0f2;
$off-white  : #f8f9fa;

/*extent classes*/
.flex-box{
  display: flex;
}
/*global css start*/
body{
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}
.tn-heading{
  margin: 10px 0;
  color: $tn-black;
  font-weight: bold;
}
tn-batch-changes{
  display: block;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.default-margin-bottom{
  margin-bottom: 10px;
}
.default-margin-top{
  margin-top: 10px;
}
.default-margin-left{
  margin-left: 10px;
}
.default-margin-right{
  margin-right: 10px;
}
.hand{
  cursor: pointer;
}
.tn-input-calender{
  border: 1px solid #ddd;
  span{
    background: none;
    border: none;
    color: $tn-blue;
  }
  input{
    border: none;
    box-shadow: none;
  }

}
.tn-button{
      border-radius: 4px;
      font-size: 14px;
      min-width: 125px;
      padding: 15px 20px;
      outline: 0;
      border: 1px solid transparent;
      text-transform: capitalize;
      &[disabled]{
        opacity: 0.6;
      }
  &.tn-action-button{
      background: linear-gradient(45deg,#f6594c,#f17c35);
      color: $tn-white;
    &:hover{
      background: linear-gradient(45deg,#f76f54,#f38a40);
    }
  }
  &.tn-cancel-button{
    background: $silver;
    color: $pewter;
  }
  &.tn-undo-button{
    background: $tn-white;
    border:1px solid $cloudy;
    color: #000;
  }
  &.tn-delete-button{
    background: $red;
    color: #fff;
  }
}
/*table*/
.tn-table{
  background-color: $tn-white;
  -webkit-box-shadow: 0 0.125rem 0.375rem 0 rgba(36,41,54,.24);
  -moz-box-shadow: 0 0.125rem 0.375rem 0 rgba(36,41,54,.24);
  box-shadow: 0 0.125rem 0.375rem 0 rgba(36,41,54,.24);
  .tn-table-head {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    h6{
      display: inline-flex;
      align-items: center;
      flex: 1;
    }
  }
  .tn-table-body {
    min-height: 15px;
    max-height: 500px;
    overflow: auto;
    .tn-table-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 5px;
      &:nth-child(even) {
          background-color: $light-gray;
      }
      h6{
        flex: 1;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 18px;
      }
    }
    &::-webkit-scrollbar {
      width: 3px;
    }
  }
}
.tn-checkBox{
  display: inline-flex;
  margin: 20px 0;
  label{
    display: flex;
    align-items: center;
    margin: 0;
    color:#494949;
    h5{
      margin: 0;
      font-weight: bold;
    }
    h6{
      margin: 5px 0 0 0;
    }
  }
  input[type= "checkbox"]{
    display: none;
    &+ label:before{
      content:"\a154";
      font-family: 'icomoon' !important;
      speak: none;
      text-transform: none;
      line-height: 1;
      font-size: 15px;
    }
    &:checked {
      &+ label{
        color: $tn-blue;
      }
      &+ label:before {
        content: "\a152";
        font-family: 'icomoon' !important;
        text-transform: none;
        line-height: 1;
        color: $tn-blue;
        font-size: 15px;
      }
    }
  }
}
.calender-without-form{
  @extend .flex-box;
  align-items: center;
  label{
    font-weight: 100;
    margin-right: 10px;
  }
  .tn-input-calender{
    display: table;
    background-color: $tn-white;
    border-radius: 4px;
    width: 150px;
  }
}
.relative{
  position: relative;
  .tn-datePicker{
    position: absolute;
    top:100%;
    z-index: 9999;
    left: 0;
  }
}
